.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SoundRack {
  width: 400px;
  height: 600px;
  padding: 25px;
  background-color: lightyellow;
  box-shadow: 3px 3px 15px #AAA;
  margin: 10px 10px;
  display: inline-block;
  user-select: none;
  cursor: default;
}

.SoundRack H3 {
  text-transform: capitalize
}

.VolumeSlider {
  margin: auto;
  margin-top: 5px;
  display: block;
  align-content: center;
  max-width: 50%;
  text-transform: capitalize,
}

.SoundImage {
  max-width: 64px;
  display: block;
  margin: auto;
}